html{
  box-sizing: border-box;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  color: #362657;
  background-color: #ffffff;
}

#hill {
  color:#362657;
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid #362657;
  transform: rotate(45deg);
}

#hill:after {
  color:#362657;
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: #ffffff;
}

#box {
  
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid #362657;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

/* Menu */
.menu-icon {
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 13;
  top: 60px;
  right: 3vh;
  cursor: pointer;
}

.menu-icon__line {
  height: 4px;
  width: 50px;
  display: block;
  background-color: #362657;
  margin-bottom: 8px;
  transition: background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
  width: 25px;
}

.menu-icon__line-right {
  width: 25px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 12;
  top: 0;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #8467bd46;
  z-index: -1;
  transition: transform cubic-bezier(.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}

.nav:after {
  background: #362657;
  transition-delay: 0s;
}

.nav:before {
  transition-delay: 0.1s;
}

.nav__content {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  cursor: pointer;
  transition: top 1s;
}

.nav__content-hidden {
  top: 110%
}

.nav__list-item {
  color: white;
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-right: 25px;
}

.nav__list-item:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 20px;
  height: 1px;
  top: 100%;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;

}

body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}

// body.nav-active .nav__list-item:nth-child(2) {
//   transition-delay: 0.7s;
// }

// body.nav-active .nav__list-item:nth-child(3) {
//   transition-delay: 0.8s;
// }

/* removing styling of menu items */
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}


/* Reusable Card */

/* Search Page */
.main-search {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  align-items: center;
  flex-direction: column;
}

.brand-huge {
  margin-top: 23vh;
  font-size: 5rem;
  color: #000000;
  font-family: 'Roboto Slab';
}

.search-box {
  color:#362657;
  height: 55px;
  width: 780px;
  border-radius: 20px;
  border : none;
  font-weight: 500;
  margin-right: 20px;
  font-size: 1.4rem;
  padding-left: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0 , .1);
  transition: box-shadow 0.5s ease-out;
}

.search-box:focus {
  outline: none;
  box-shadow: 0px 3px 11px rgba(0, 0, 0 , .1);

}
.search-box-form {
  display: flex;
  flex-direction: row;
}
.search-box-container {
  display: flex;
}
.suggestions{
  background-color: rgb(255, 255, 255);
  z-index: 989;
  box-shadow: 0px 3px 11px rgba(0, 0, 0 , .1);
  border-radius: 20px;
  margin-top: 20px;
  width: 800px;
  max-height: 300px;
  overflow-y: scroll;
  
  a{
    position: relative;
    color: black;
  }
  
  
  div{
    position: relative;
    color: rgb(32, 32, 32);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    padding-top: 20px;
    padding-left: 40px;
    border-bottom-color: #b590ff27;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
}

.suggestions::-webkit-scrollbar {
  display: none;
}
.search-button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 55px;
  width: 65px;
  color: #362657;
  transition: background 0.1s ease-in, color 0.1s ease-in;
  
}
.fa-lg {
  font-size: 1.6rem;
}

.search-button:hover {
  background-color: #362657;
  color: white;
}

.search-button:focus {
  outline: none;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  
}

.loader{
  position: fixed;
  top: 40%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}


/* Dashboard */

.dashboard-container {
  display: flex;
}

.dashboard-sidebar {
  z-index: 2;
  
  justify-content: space-between;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  width: 4vw;
  background-color: #362657;
  position: fixed;
  height: 100vh;
  color: white;
  .dashboard-top {
    .font-lg {
      margin-top: 2vh;
      margin-right: auto;
      margin-left: auto;
      font-size: 2.5rem;
      width: fit-content;
      text-decoration: none;
      transition: transform cubic-bezier(.77, 0, 0.175, 1) 0.5s;
    
    }
    .font-lg:hover {
      text-decoration: none;
      transform: rotate(60deg) scale(1.3) ;
    }
    :hover {
      text-decoration: none;
    }
    .dashboard-icon {
      width: 100%;
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    .dashboard-email {
      margin-right: auto;
      margin-left: auto;
      width: fit-content;
      margin-top: 4vh;
      i {
        transition: transform cubic-bezier(.77, 0, 0.175, 1) 0.5s;
      }
      i:hover {
        transform: skewX(5deg) scale(1.3) ;
      }

    }
  }
  .dashboard-logout {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
  }
  div:hover {
    cursor: pointer;
  }
}


.dashboard-main {
  padding-left: 15vw;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.dashboard-welcome-message {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.dashboard-recommendations {
  display: flex;
  grid-auto-flow: column;
  flex-wrap: wrap;
  justify-content: start;
  grid-gap: 5%;
  min-width: 70vw;
  max-width: 70vw;
  margin-bottom: 3rem;

  .reusable-card {

    color: black;
    margin-bottom: 4%;
    text-align: center;
    display:flex;
    min-height: fit-content;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    min-width: 250px;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0 , .1);
    transition: box-shadow 0.5s ease-out, width 0.5s ease-out, height 0.5s ease-out;
    border-radius: 20px;
    img{
      height: 100px;
      border-radius: 100px;
    }
    .remove-button{
      outline: none;
      margin-bottom: 10px;
      margin-top: auto;
      border : none;
      height: 35px;
      width: 35px;
      border-radius: 100%;
      box-shadow: 0 3px 5px rgba(0, 0, 0 , .1);
      transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
    }
    .remove-button:hover {
      cursor: pointer;
      color: #FAFAFA;
      background-color: #362657 ;
      box-shadow: 0 4px 10px rgba(0, 0, 0 , .1);
    }

    .reusable-card-heading{
      color: black;
    }
    .reusable-card-body{
      margin-bottom: 30px;
    }
  
  }
  .reusable-card:hover{
    width: 19vw;
    box-shadow: 0 5px 14px rgba(0, 0, 0 , .1);
  
  }
}
.dashboard-below-recommendations {
  display: flex;
  .reusable-card {
    height: 40vh;
    flex-grow: 1;
    margin-right: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0 , .1);
    transition: box-shadow 0.5s ease-out;
    margin-bottom: 3rem;
   
  }
  .reusable-card:hover{
    height: 40vh;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.432);
   } 
}

.registration-container{
  padding-top: 10vh;
  display: flex;
  width: auto;
  align-items: flex-start;
  justify-content: space-evenly;
  h1 {
    
    font-size: 3rem;
    margin-bottom: 2vh;
  }
  hr {
    align-self: center;
    border-width: 2px;
    border-radius: 3px;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    border-style: solid;
    border-color: #362657;
    background-color: #362657;
    width: 20vh;
    transform: rotate(90deg);
    margin: 0;
  }

  .message {
    font-weight: 600;
    font-size: 0.7rem;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    margin-top: 40px;
  }
  .success-message {
    color: #1b8d4a;
    background-color: #1b8d4a44;
  }
  .error-message {
    color: #8d1b27;
    background-color: #dc354628;
  }
}

.form{
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  input{
    padding:0;
    padding-left: 10%;
    height: 40px;
    margin-top: 40px;
    width: 90%;
    border-radius: 10px;
    
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0 , .1);
    color: #362657;
    transition: box-shadow 0.1s ease-in, color 0.1s ease-in;
  }
  input:focus{
    box-shadow: 0px 3px 20px rgba(0, 0, 0 , .1);
    outline: none;
  }
  button {
    padding: 10px;
    margin-top: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: #000;
    transition: background 0.1s ease-in, color 0.1s ease-in;
    
    
  }
  button:hover {
    
    background-color: #362657;
    color: white;
    cursor: pointer;

  }
  
  button:focus {
    outline: none;
  }
}

// Course Card


.result-container {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
  margin-left: 10vw;
  .course-card {
    border-style: none;
    border-radius: 40px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0 , .1);
    padding: 30px;
    padding-top: 20px;
    margin-bottom: 90px;
    .button-disabled {
      cursor: not-allowed;
        pointer-events: none;
    }
    

    a {
      color: #000;
      transition: text-shadow 0.3s ease-in;

    }
    a:hover {
      text-shadow: 0px 2px 5px rgba(0, 0, 0 , .1);
    }
    
    
    .course-footer {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      .course-provider {
        font-size: 1.3rem;
        font-weight: 600;
      }
      .add-to-fav-btn {
        border: none;
        height: 40px;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        color: #000;
        transition: box-shadow 0.3s ease-in, color 0.1s ease-in, background-color 0.1s ease-in;
    }
    .add-to-fav-btn:hover {
      margin-right: 0;
      cursor: pointer;
      color: white;
      background-color: #000;
      box-shadow: 0px 3px 8px #36245846;
    }
      .selected-btn {
        color: rgb(119, 119, 119);
      }
      .selected-btn:hover { 
        cursor: default;
        box-shadow: none;
        color: rgb(119, 119, 119);
        background-color: #FAFAFA;
  
      }
    }
    

  }
}








// New Registration and login forms 


.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.form-card {
  margin-top: -15vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: 30vw;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border-radius: 20px;

  .form-heading {
      font-size: 2.5rem;
      font-weight: 700;
  }

  form {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      input {
          width: 90%;
      background: #fff;
      color: black;
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
          border: none;
      border-radius: 10px;
      outline: 0;
          padding: 20px 18px;
          margin-bottom: 25px;
          transition: box-shadow 0.3s cubic-bezier(1,-0.03,.22,1.06);
      }

      input:focus {
          box-shadow: 1px 10px 15px 0 rgba(0, 0, 0 , .1);
      }

      button {
          width: 360px;
          height: 45px;
      background: black;
      color: white;
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
          border: none;
      border-radius: 10px;
      outline: 0;
          font-size: 1.2rem;
          margin-top: 2%;
          transition: box-shadow cubic-bezier(1,-0.03,.22,1.06);
      }

      button:hover {
          box-shadow: 1px 10px 15px 0 rgba(0, 0, 0 , .1);
          cursor: pointer;
      }

      .register-button {
          margin-bottom: 10%;
      }
  }

  .register-option {
      align-self: start;
      margin-left: 12%;
      color: #464646;
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .form-error {
      width: 350px;
      margin-bottom: 2%;
      color: rgb(216, 27, 27);
      font-weight: 500;
  }
}

.register-card {
  margin-top: 0vh;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

a:hover{
  text-decoration: underline;
}




.pagination-container {
  height : 100px;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  .pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    
    button {
      margin-top: 0;
      margin-bottom: 0;
      margin: 5px;
      cursor: pointer;
      border: none;
      border-radius: 20px;
      height: 35px;
      width: 30px;
      color: #362657;
      transition: background 0.1s ease-in, color 0.1s ease-in;
      
    }
    
  
  }
}


.profile-container {
  width: 100vw;
  margin-left: 70px;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction:column ;
  align-items: center;
  h1 {
    font-size: 3rem;
  }

  .form {
    input {
      height: 60px;
      font-size: 1.2rem;
    }
    input:disabled {
      color:rgb(153, 153, 153)
    }
    .checkbox {
      margin-top: 40px;
      height: 20px;
      width: 20px;
    }
    div {
      display: flex;
      align-items: baseline;
      div{
        margin: 20px;
        margin-left:10px;
        
        height: 20px;
      }
    }
    button {
      height: 60px;
      font-size: 1.2rem;
    }
  }
  .msg {
    margin-top: 20px;
    font-weight: 600;
    
  }
  .success {
    color:#1b8d4a;
  }
  .error {
    color:rgb(216, 27, 27);
  }
}


.msg-modal {
  height: fit-content;
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  border-radius: 0px;
  width: fit-content;
  padding: 15px;
  margin:auto;
  z-index: 10;
  font-weight: 600;
  border-radius: 10px;
  background-color:#02a345;
  color: #ffff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);

  .msg-modal-content {

  }
}